In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import RobustScaler, StandardScaler, MinMaxScaler, OneHotEncoder, LabelEncoder
from sklearn.model_selection import cross_val_score, train_test_split, cross_val_predict
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression

In [ ]:
# L'importation du dataset
df = pd.read_csv ("train.csv")

In [ ]:
# On verifie si les colonnes contiennent des valeurs null ou non.
df.isna().any()

id                         False
Administrative              True
Administrative_Duration     True
Informational               True
Informational_Duration      True
ProductRelated              True
ProductRelated_Duration     True
BounceRates                 True
ExitRates                   True
PageValues                 False
SpecialDay                 False
Month                      False
OperatingSystems           False
Browser                    False
Region                     False
TrafficType                False
VisitorType                False
Weekend                    False
Revenue                    False
dtype: bool

In [ ]:
# Eliminer les lignes ayant des valeurs null
df.dropna(inplace=True) 
df.isna().any()

id                         False
Administrative             False
Administrative_Duration    False
Informational              False
Informational_Duration     False
ProductRelated             False
ProductRelated_Duration    False
BounceRates                False
ExitRates                  False
PageValues                 False
SpecialDay                 False
Month                      False
OperatingSystems           False
Browser                    False
Region                     False
TrafficType                False
VisitorType                False
Weekend                    False
Revenue                    False
dtype: bool

In [ ]:
# on verifie le type de chaque colonne.
df.dtypes

id                           int64
Administrative             float64
Administrative_Duration    float64
Informational              float64
Informational_Duration     float64
ProductRelated             float64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [ ]:
# Convertir les valeurs en entiers 
df = df.astype({
    "Administrative":"int", "Administrative_Duration":"int","Informational":"int","Informational_Duration":"int",
    "ProductRelated":"int","ProductRelated_Duration":"int", "BounceRates":"int", "ExitRates":"int", "PageValues":"int",
    "SpecialDay":"int"
}) 

df.dtypes

id                          int64
Administrative              int64
Administrative_Duration     int64
Informational               int64
Informational_Duration      int64
ProductRelated              int64
ProductRelated_Duration     int64
BounceRates                 int64
ExitRates                   int64
PageValues                  int64
SpecialDay                  int64
Month                      object
OperatingSystems            int64
Browser                     int64
Region                      int64
TrafficType                 int64
VisitorType                object
Weekend                      bool
Revenue                      bool
dtype: object

In [ ]:
# Convertir les variables cat√©gorielles en des valeurs numeriques
label_encoder = LabelEncoder()


print("-------------- Month column -----------------")
print(df['Month'].unique())
df["Month"] = label_encoder.fit_transform(df["Month"])
print(df['Month'].unique())


print("-------------- VisitorType column -----------------")
print(df['VisitorType'].unique())
df["VisitorType"] = label_encoder.fit_transform(df["VisitorType"])
print(df['VisitorType'].unique())

print("-------------- Revenue column -----------------")
print(df['Revenue'].unique())
df["Revenue"] = label_encoder.fit_transform(df["Revenue"])
print(df['Revenue'].unique())

print("-------------- Weekend column -----------------")
print(df['Weekend'].unique())
df["Weekend"] = label_encoder.fit_transform(df["Weekend"])
print(df['Weekend'].unique())


print("-------------------------------------------")

df.dtypes

In [ ]:
df.hist(figsize=(15,20))

NameError: ignored

In [ ]:
# S√©parer la colonne a predire et le reste des colonnes
y = df[['Revenue']]
X = df.drop(columns=['Revenue'])

print("-------------- X -------------")
print(X.info())
print("-------------- y -------------")
print(y.info())

In [ ]:
# on separe la colonne a predire et le rest du "dataset" en train et test 

from sklearn import linear_model
from sklearn import metrics
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
# Evaluation

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9845183486238532

In [ ]:
# Evaluation selon roc_auc_score

from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, y_pred)

0.955127391678299

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=17, random_state=0)
clf.fit(X_train, y_train.values.ravel())
y_pred1 = clf.predict(X_test)

In [ ]:
accuracy_score(y_test, y_pred1)

0.9145642201834863

In [ ]:
roc_auc_score(y_test, y_pred1)

0.7943502107919858

In [ ]:
clf1 = RandomForestClassifier(n_estimators= 200, max_depth = 30 )
clf1.fit(X_train, y_train.values.ravel())
y_pred2 = clf1.predict(X_test)

In [ ]:
accuracy_score(y_test, y_pred2)

0.911697247706422

In [ ]:
roc_auc_score(y_test, y_pred2)

0.7926934844831719

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

y_pred2 = clf1.predict(X_test)

print(accuracy_score(y_pred2, y_test),
precision_score(y_pred2, y_test,average='micro'),
recall_score(y_pred2, y_test,average='micro'),
f1_score(y_pred2, y_test,average='micro'))

0.911697247706422 0.911697247706422 0.911697247706422 0.911697247706422

In [ ]:
model = XGBClassifier(learning_rate = 0.1, n_estimators=150, min_child_weight=3,  max_depth=13)
model.fit(X_train, y_train.values.ravel())

XGBClassifier(max_depth=13, min_child_weight=3, n_estimators=150)

In [ ]:
y_pred3 = model.predict(X_test)

In [ ]:
accuracy_score(y_test, y_pred3)

0.9036697247706422

In [ ]:
roc_auc_score(y_test, y_pred3)

0.7934435937566092

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC 
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier, VotingClassifier
from sklearn.metrics import f1_score 

knn = KNeighborsClassifier()
tree = DecisionTreeClassifier()
svm = SVC()
log = LogisticRegression()
naive = GaussianNB()

gbc = GradientBoostingClassifier()
rfc = RandomForestClassifier()

for model, name in [ [knn,'knn'], [tree,'tree'], [naive,'naive'], [svm,'svm'], [gbc, 'gbc'], [rfc,'rfc'] ]:
  model.fit(X_train, y_train.values.ravel())
  y_preds = model.predict(X_test)
  print(
      f'{name}: {f1_score(y_preds, y_test, average="weighted")}'
      )

knn: 0.8889279278835672
tree: 0.8726030611707786
naive: 0.8771127861699034
svm: 0.9277589916999692
gbc: 0.9103633996716395
rfc: 0.9134382363415952

In [ ]:
# Importation du dataset test.

df_test = pd.read_csv ("test.csv")
df.isna().any()

id                         False
Administrative             False
Administrative_Duration    False
Informational              False
Informational_Duration     False
ProductRelated             False
ProductRelated_Duration    False
BounceRates                False
ExitRates                  False
PageValues                 False
SpecialDay                 False
Month                      False
OperatingSystems           False
Browser                    False
Region                     False
TrafficType                False
VisitorType                False
Weekend                    False
Revenue                    False
dtype: bool

In [ ]:
df_test.dtypes

id                           int64
Administrative             float64
Administrative_Duration    float64
Informational              float64
Informational_Duration     float64
ProductRelated             float64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
dtype: object

In [ ]:
# Convertir les valeurs en entiers 
df_test = df_test.astype({
    "Administrative":"int", "Administrative_Duration":"int","Informational":"int","Informational_Duration":"int",
    "ProductRelated":"int","ProductRelated_Duration":"int", "BounceRates":"int", "ExitRates":"int", "PageValues":"int",
    "SpecialDay":"int"
}) 

# Convertir les variables cat√©gorielles en des valeurs numeriques
label_encoder = LabelEncoder()
df_test["Month"] = label_encoder.fit_transform(df_test["Month"])
df_test["VisitorType"] = label_encoder.fit_transform(df_test["VisitorType"])
df_test["Weekend"] = label_encoder.fit_transform(df_test["Weekend"])

df_test

         id  Administrative  ...  VisitorType  Weekend
0      8732               0  ...            0        0
1      8733               0  ...            1        0
2      8734               3  ...            2        0
3      8735               5  ...            2        0
4      8736               1  ...            0        0
...     ...             ...  ...          ...      ...
3594  12326               3  ...            2        1
3595  12327               0  ...            2        1
3596  12328               0  ...            2        1
3597  12329               4  ...            2        0
3598  12330               0  ...            0        1

[3599 rows x 18 columns]

In [ ]:
y_preds = svm.predict(df_test)

subb = pd.DataFrame(df_test['id'])
subb['Revenue'] = y_preds.astype(int)

subb.to_csv("submission.csv", index=False)

In [ ]:
subb

         id  Revenue
0      8732        0
1      8733        0
2      8734        0
3      8735        0
4      8736        0
...     ...      ...
3594  12326        0
3595  12327        0
3596  12328        0
3597  12329        0
3598  12330        0

[3599 rows x 2 columns]